.logo{
    border-radius: 10%;
    transition: 1s;
    width: 8%;
}
.logo:hover{
    width: 10%;
    border-radius: 40%;
    transition: 1s;
}
.fundo1{
    background-image:url(imagem/fundo1.jpg);
}
.eu{
    border-radius: 10%;
    transition: 1s;
    width: 8%;
    text-decoration: none; 
    font-size: 1.5rem;
    border: solid rgb(203, 163, 178);
    background: rgb(224, 174, 174);
    transition: 1s;
    margin: 1rem;
}
.eu:hover{ 
    width: 10%;
    border-radius: 40%;
    transition: 1s;
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(254, 254, 254); 
    margin: 1rem;
}
.tu{
    border-radius: 10%;
    transition: 1s;
    width: 8%;
    text-decoration: none; 
    font-size: 1.5rem;
    border: solid rgb(203, 163, 178);
    background: rgb(224, 174, 174);
    transition: 1s;
    margin: 1rem;
}
.tu:hover{
    width: 10%;
    border-radius: 40%;
    transition: 1s;
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(254, 254, 254); 
    margin: 1rem;
}
header{
    text-align: center;
    background-image: linear-gradient(to right, rgba(156, 222, 200, 0.4) , rgb(240, 151, 165, 0.4));
    display: flex;
    display: flexbox;
    display: grid;
}
body{
    color: rgb(23, 23, 23);
}
main{
    display: grid;
    display: flexbox;

}
nav li{
    display: inline;
    margin: 1rem; 
    color: black;
}
nav a{
    text-decoration: none; 
    font-size: 1.5rem;
    border: solid rgb(203, 163, 178);
    background: rgb(224, 174, 174);
    transition: 1s;
}

nav a:hover{ 
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(254, 254, 254); 
}
footer{
    text-align: center;
    background-image: linear-gradient(to right, rgba(156, 222, 200, 0.4) , rgb(240, 151, 165, 0.4));
    display: flex;
    display: flexbox;
    display: grid;
}
footer li{
    display: inline;
    margin: 0 0 0 100px;
    color: black;
}
footer a{
    text-decoration: none; 
    font-size: 1.5rem;
    border: solid rgb(203, 163, 178);
    background: rgb(224, 174, 174);
    transition: 1s;
}
footer a:hover{
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(255, 255, 255); 
}
