
header{
    grid-area: cab;
    border: gold 2px solid ;
}
aside{
    grid-area: bra;
    border: green 2px solid;
}
main{
    grid-area: pri;
    border: purple 2px solid;
}
footer{
    grid-area: rod;
    border: rgb(68, 25, 239) 2px solid;
}
header{
    text-align: center;
    background-image: linear-gradient(to right, rgb(89, 255, 200, 0.4) , rgb(240, 151, 165, 0.4));
    display: flex;
}
header li{
    display: inline;
    margin: 0 0 0 100px;
}
header a{
    text-decoration: none; 
    font-size: 1.5rem;
    color: rgb(2, 2, 2);
    border: solid rgb(0, 0, 0);
    background: rgb(224, 174, 174);
    transition: 1s;
}
header a:hover{
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(0, 0, 0); 
    background: black; 
}
header, aside, main, footer{
    background-color: rgba(225, 201, 228, 0.7);
}
body{
    display: grid;
    grid-template-areas: 
    "cab ceb"
    "bra pri"
    "rod rod";
    grid-template-columns:auto;
    grid-template-rows:auto;
}
.fundo1{
    background-image:url(imagem/fundo1.jpg);

}
.logo1{
    border-radius: 10%;
    transition: 1s;
    width: 15%;
}
.logo:hover{
    width: 15%;
    border-radius: 40%;
    transition: 1s;
}

nav{
    margin-top: 1rem;
}

nav li{
    display: inline;
    margin: 1rem; 
}
nav a{
    text-decoration: none; 
    font-size: 1.5rem;
    color: rgb(2, 2, 2,);
    border: solid rgb(0, 0, 0);
    background: rgb(224, 174, 174);
    transition: 1s;
}

nav a:hover{ 
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(254, 254, 254); 
    background: black; 
}

footer{
    text-align: center;
    background-image: linear-gradient(to right, rgb(89, 255, 200, 0.4) , rgb(240, 151, 165, 0.4));
    display: flex;
}
footer li{
    display: inline;
    margin: 0 0 0 100px;
}
footer a{
    text-decoration: none; 
    font-size: 1.5rem;
    color: rgb(2, 2, 2);
    border: solid rgb(0, 0, 0);
    background: rgb(224, 174, 174);
    transition: 1s;
}
footer a:hover{
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(0, 0, 0); 
    background: black; 
}

main{
    text-align: justify; 
    background-color: rgba(231, 202, 248, 0.5);
    margin: 2rem; 
    padding: 2rem; 
    color: rgb(0, 0, 0);
}
.fundo{
    width: 40%; 
    float: right; 
    margin: 1rem;
}
.saia{
    border-radius: 10%;
    transition: 1s;
    width: 15%;
    border: black 2px solid;
}
.saia:hover{
    width: 10%;
    border-radius: 40%;
    transition: 1s;
    border: black 2px solid;
}
.colant{
    border-radius: 10%;
    transition: 1s;
    width: 15%;
}
.colant:hover{
    border-radius: 40%;
    transition: 1s;
    width: 10%;
}
.saia img{
    width: 350px;
    height: 200px;
}

.saia{
    background-color: #fff;
    width: 400;
    box-shadow: 4px 4px 4px 4px #aaaa;
    border-radius: 5px;
}

.saia div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
